div.background-color {

  background: #ffffff;
}
div.form-container {
  margin-left: 25%;
  margin-right: 25%;
  height: 100vh;
  padding-top: 5%;
  
 
}

.btn-primary {
background-color: #1f5e84;

}
h3.art-form {
  color: #00ff2a;
  padding: 5%;
}

h1.art-title {
  text-align: center;
  color: white;
  background-color: #347197;
}