.Toastify__toast--success{ 
  background-color: #1f5e84 !important;
  font-family: monospace !important;
}

.Toastify__toast--warning{
  background-color: blanchedalmond !important;
  color: black;
  font-family: monospace !important;
}