


h1.title {
  color: #000000;
  background: rgb(255, 255, 255);
  max-width: fit-content;
  margin: 0 auto 10px auto;
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  padding: 10px 30px;
}
.overview-title {
  background: rgb(255, 255, 255);
  color: rgb(14, 14, 14);
  max-width: fit-content;
  margin: 0 auto;
  text-align: center;
  font-size: 35px;
}
.hero-overview {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  
  h3 {
    margin: 30px;
    color: rgb(0, 0, 0);
    font-size: medium;
  }
}
.navy-banner {
  min-height: 10px;
  background-color: #4d84a7;
}

.art-link {
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding: 5px;
  font-size: 25px;
}
.tech-link {
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding: 5px;
  font-size: 25px;
}
.art-section {
  padding-top: 50px;
}
.tech-section {
  padding-top: 30px;
}

@media only screen and (max-width: 650px) {
  .tech-wrapper {
    h3 {
      text-align: center;
    }
    p {
      display: none;
    }
  }
}
